<h1>Criar Produto</h1>
<form action="/create" method="post">
    <div class="form-control">
        <label for="name">Nome do produto:</label>
        <input type="text" name="name" placeholder="Digite o nome do seu produto">
    </div>
    <div class="form-control">
        <label for="price">Preço do produto:</label>
        <input type="text" price="name" placeholder="Digite o preço do seu produto">
    </div>
    <div class="form-control">
        <label for="description">Descrição do produto:</label>
        <textarea description="name" placeholder="Digite a descrição do seu produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>