<article class="card">
    <h2>{{this.title}}</h2>
    <p>Nome: {{this.name}}</p>
    <p>Descrição: {{this.description}}</p>
    <a href="/product/{{this.id}}" class="button">Ver Produto</a>
</article>